/*** ANIMATIONS ***/

/* h1 hover me animation */
@keyframes hoverMe {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}

h1 {
  animation: hoverMe 0.5s ease-in infinite alternate-reverse;
}

/* clouds animation */
@keyframes clouds {
  from {
    transform: translateX(258px) translateY(-1500px) translateZ(172px);
  }

  to {
    transform: translateX(2000px) translateY(-1300px) translateZ(172px);
  }
}

section:nth-of-type(14) div:nth-of-type(1) {
  animation: clouds 10s infinite linear;
}
