/*** ANIMATIONS ***/

/* h1 hover me animation */
@keyframes hoverMe {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

h1 {
  animation-name: hoverMe, opacity;
  animation-duration: 0.5s, 5s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

/* clouds animation */
@keyframes cloudsRight {
  from {
    transform: translateX(600px) translateY(-1500px) translateZ(172px);
  }

  to {
    transform: translateX(2200px) translateY(-1300px) translateZ(172px);
  }
}

section:nth-of-type(14) div:nth-of-type(1) {
  animation: cloudsRight 10s infinite linear;
}

/* opacity animation */
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
