/*** ANIMATIONS ***/

/* h1 hover me animation */
@keyframes hoverMe {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

h1 {
  animation-name: hoverMe, opacity;
  animation-duration: 0.5s, 5s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

/* right clouds animations */
@keyframes cloudOne {
  from {
    transform: translateX(300px) translateY(-1300px) translateZ(172px);
  }

  to {
    transform: translateX(2300px) translateY(-1300px) translateZ(172px);
  }
}

@keyframes cloudTwo {
  from {
    transform: translateX(650px) translateY(-2000px);
  }

  to {
    transform: translateX(2350px) translateY(-2000px);
  }
}

@keyframes cloudThree {
  from {
    transform: translateX(650px) translateY(-1800px);
  }

  to {
    transform: translateX(2350px) translateY(-1800px);
  }
}

section:nth-of-type(14) div:nth-of-type(1) {
  animation-name: cloudOne;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

section:nth-of-type(14) div:nth-of-type(2) {
  animation-name: cloudTwo;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
}

section:nth-of-type(14) div:nth-of-type(3) {
  animation-name: cloudThree;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}

/* opacity animation */
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
