:root {
  /* background colors */
  --background-normal: #313131;

  /* grass colors */
  --grass-top: #7b8a53;
  --grass-right: #566139;
  --grass-left: rgb(55, 70, 39);
  --grass-shadow: #3b561c;

  /*  house colors  */
  --house-right: #f5d0bd;
  --house-left: #bf9585;

  /* bricks */
  --house-brick-right: #daa98e;
  --house-brick-left: #9b7162;

  /* roof colors */
  --roof-top: #9b615b;
  --roof-top-within: #774a46;
  --roof-right: #70403c;
  --roof-left: #622e2d;
  --roof-top-left: #4c261f;
  --roof-top-right: #3f1c13;

  /*  door  */
  --door-front: #3e5064;
  --door-edge: #8f7977;

  /* door knob */
  --door-knob-top: linear-gradient(to left, #847979, #a09595);
  --door-knob-right: linear-gradient(to top, #655a5a, #7c7171);
  --door-knob-left: linear-gradient(to top, #5f5454, #716666);

  /* door ramp */
  --door-ramp-top: #b69b86;
  --door-ramp-right: #927160;
  --door-ramp-left: #73584c;

  /*  windows  */
  --window-top: #bb5832;
  --window-left: #85351d;
  --window-right: #452115;

  /*  lamp  */
  --lamp-light: linear-gradient(0deg, #ffa928 0%, #ffa92800 100%);
  --lamp-top-on: #ffa928;
  --lamp-top-off: #9c3e12;
  --lamp-left: #85351d;
  --lamp-right: #452115;

  /*  chimney base */
  --chimney-smoke: #f2f0ef;
  --chimney-base-right: #c7b5ab;
  --chimney-base-left: #b08e82;

  /*  chimney top */
  --chimney-top-right: #6e5046;
  --chimney-top-left: #5a3f36;

  /*  chimney upper */
  --chimney-upper-top: #e3dcd8;
  --chimney-upper-left: #716359;
  --chimney-upper-right: #564c44;

  /*  tree  */
  --tree-top-top: #719648;
  --tree-top-right: #376d29;
  --tree-top-left: #335e2a;
  --tree-bottom-right: #704638;
  --tree-bottom-left: #442415;

  /* campfire  */
  --campfire-wood-base: #704638;
  --campfire-wood-end: #442415;
  --campfire-fire-within: #eada86;
  --campfire-fire-middle: #e59459;
  --campfire-fire-outer: #b52323;

  /* path */
  --path-top: #ffbf95;
  --path-shadow: #d8986e;

  /* sizes */
  --width: 400px;
  --height: 10px;
}
