/* grass container */

/* grass container: left */
section:nth-of-type(1) div:nth-of-type(1) {
  background: var(--grass-gradient-left);

  transform: rotateY(0deg);
  transform-origin: right center;
  width: 750px;
  height: 585px;
}

/* grass container: right */
section:nth-of-type(1) div:nth-of-type(2) {
  background: var(--grass-gradient-right);

  transform: rotateY(90deg);
  transform-origin: right center;
  width: 750px;
  height: 585px;
}

/* grass container: top */
section:nth-of-type(1) div:nth-of-type(3) {
  background-color: var(--grass-top);

  transform: rotateX(90deg);
  transform-origin: top center;
  width: 750px;
}
