@media only screen and (max-width: 1400px) {
  h1 {
    scale: 0.7;
    transform: translateY(-20px);
    animation-name: hoverMeLaptop, opacity;
    animation-duration: 0.5s, 5s;
    animation-iteration-count: infinite, 1;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
  }

  main {
    scale: 0.65;
    left: 24.3vw;
    top: 27vh;
  }
}
