@import url("./custom.css");
@import url("./grass.css");
@import url("./house.css");
@import url("./bricks.css");
@import url("./roof.css");
@import url("./rooftop1.css");
@import url("./rooftop2.css");
@import url("./door.css");

/* global styling */
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--background-normal);
}

main {
  /* aspect-ratio: 1;
    transform-style: preserve-3d;  */
  position: absolute;
  top: 60vh;
  left: 35vw;
}

/* all sections */
section {
  transform: rotatex(45deg) rotateY(45deg);
  transform-style: preserve-3d;
}

/* all divs and sections */
div,
section {
  position: absolute;
  aspect-ratio: 1;
}

@media only screen and (max-width: 1500px) {
  main {
    left: 28vw;
  }
  body {
    transform: scale(0.7);
  }
}
