/* rooftop container 2 for the shadows on the rooftop*/

/* rooftop shadow: right */
section:nth-of-type(4) div:nth-of-type(1) {
  background-color: var(--roof-top-right);
  transform: translateY(-575px) translateX(354px) translateZ(396px) rotateX(0deg);
  width: 270px;
  height: 40px;
}

/* rooftop shadow: left */
section:nth-of-type(4) div:nth-of-type(2) {
  background-color: var(--roof-top-left);

  transform: translateY(-766px) translateX(354px) translateZ(130px) rotateY(90deg) rotateX(0deg);

  width: 270px;
  height: 40px;
}
