/* trees trunk container */
/* tree 1 right */
section:nth-of-type(15) div:nth-of-type(1) {
  background-color: var(--tree-bottom-right);
  transform: translateX(62px) translateY(-410px) translateZ(177.5px) rotateY(90deg);
  width: 15px;
  height: 500px;
}

/* tree 1 left */
section:nth-of-type(15) div:nth-of-type(2) {
  background-color: var(--tree-bottom-left);
  transform: translateX(55px) translateY(-410px) translateZ(170px) rotateY(0);
  width: 15px;
  height: 500px;
}

/* tree 2 right */
section:nth-of-type(15) div:nth-of-type(3) {
  background-color: var(--tree-bottom-right);
  transform: translateX(557.5px) translateY(-147px) translateZ(707.5px) rotateY(90deg);
  width: 15px;
  height: 300px;
}

/* tree 2 left */
section:nth-of-type(15) div:nth-of-type(4) {
  background-color: var(--tree-bottom-left);
  transform: translateX(550px) translateY(-147px) translateZ(700px) rotateY(0);
  width: 15px;
  height: 300px;
}
