/* window container part 1 for the light and the side */

/* window light */
section:nth-of-type(9) div:nth-of-type(1) {
  background-color: var(--window-light);
  /* with translateZ:300 the door is on the edge in the corner */
  transform: translateY(-222px) translateX(442px) translateZ(480px) rotateY(90deg);
  border: 10px solid var(--window-frame);
  border-left: 8px solid var(--window-frame);
  border-right: 8px solid var(--window-frame);
  width: 65px;
  height: 90px;
}

/* window side */
section:nth-of-type(9) div:nth-of-type(2) {
  background-color: var(--window-side);
  /* with translateZ:300 the door is on the edge in the corner */
  transform: translateY(-162px) translateX(442px) translateZ(544px) rotateY(90deg);
  width: 10px;
  height: 90px;
}
