/* chimney container */

/* height and width of all walls */
section:nth-of-type(5) div:nth-of-type(1),
section:nth-of-type(5) div:nth-of-type(2) {
  /* width = 30vh, height = 3vh */
  width: calc(var(--width) * 0.23 / 2);
  height: calc(var(--height) * 2.3);
}

/* chimney base */

/* chimney base: left */
section:nth-of-type(5) div:nth-of-type(1) {
  background-color: var(--chimney-base-left);

  transform: translateY(-75vh) translateX(14.05vw) translateZ(0.5vw) rotatey(0deg);
  transform-origin: center;
}

/* chimney base: right */
section:nth-of-type(5) div:nth-of-type(2) {
  background-color: var(--chimney-base-right);

  transform: translateY(-75vh) translateX(14vw) translateZ(0.5vw) rotatey(90deg);
  transform-origin: right center;
}

/* chimney top */

/* chimney top: left */
section:nth-of-type(5) div:nth-of-type(3) {
  background-color: var(--chimney-top-left);

  transform: translateY(-77.5vh) translateX(13.65vw) translateZ(0.5vw) rotatey(0deg);
  transform-origin: right center;
  width: calc(var(--width) * 0.23 / 1.8);
  height: calc(var(--height) / 1.5);
}

/* chimney top: right */
section:nth-of-type(5) div:nth-of-type(4) {
  background-color: var(--chimney-top-right);

  transform: translateY(-77.5vh) translateX(13.65vw) translateZ(0.5vw) rotatey(90deg);
  transform-origin: right center;
  width: calc(var(--width) * 0.23 / 1.8);
  height: calc(var(--height) / 1.5);
}

/* chimney top: top */
section:nth-of-type(5) div:nth-of-type(5) {
  background-color: var(--chimney-upper-top);

  transform: translateY(-61.8vh) translateX(8.6vw) translateZ(5.5vw) rotatex(90deg);
  transform-origin: top center;
  width: calc(var(--width) * 0.23 / 1.8);
}

/* chimney top: top left */

/* chimney top: top right */
