/* door container */

/* door container: left or side*/
section:nth-of-type(4) div:nth-of-type(1) {
  background-color: var(--door-side);

  transform: translateY(-58vh) translateX(32.45vw) rotatey(0deg);
  transform-origin: center;
  /* width = 30vh, height = 3vh */
  width: calc(var(--width) / 75);
  height: calc(var(--height) * 4);
}

/* door container: right or front */
section:nth-of-type(4) div:nth-of-type(2) {
  background-color: var(--door-front);

  transform: translateY(-58vh) translateX(29.8vw) rotatey(90deg);
  transform-origin: right center;
  /* width = 30vh, height = 3vh */
  width: calc(var(--width) / 10);
  height: calc(var(--height) * 4);
}

/* door container: top */
section:nth-of-type(4) div:nth-of-type(3) {
  background-color: var(--door-top);

  transform: translateY(-58vh) translateX(32.45vw) rotatex(90deg);
  transform-origin: top center;
  /* width = 30vh, height = 3vh */
  width: calc(var(--width) / 75);
  height: calc(var(--height) * 1.5);
}
