/* house container */

/* height and width of all walls */
section:nth-of-type(2) div:nth-of-type(1),
section:nth-of-type(2) div:nth-of-type(2) {
  /* width = 30vh, height = 3vh */
  width: calc(var(--width) / 1.7);
  height: calc(var(--height) * 10);
}

/* house container: left */
section:nth-of-type(2) div:nth-of-type(1) {
  background-color: var(--house-left);

  transform: translateY(-60vh) translateX(12vw) rotatey(0deg);
  transform-origin: center;
}

/* house container: right */
section:nth-of-type(2) div:nth-of-type(2) {
  background-color: var(--house-right);

  transform: translateY(-60vh) translateX(12vw) rotatey(90deg);
  transform-origin: right center;
}
