/*** ANIMATIONS ***/

/* h1 hover me animation */
@keyframes hoverMe {
  0% {
    top: -10px;
  }
  100% {
    top: -45px;
  }
}

/* h1 hover for laptop screen */
@keyframes hoverMeLaptop {
  0% {
    top: -20px;
  }
  100% {
    top: -55px;
  }
}

/* h1 opacity animation */
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* cloud animations */
@keyframes rightCloud1 {
  0% {
    /* to the right */
    left: 770px;
    /* to the top */
    bottom: 720px;
  }
  100% {
    /* to the right */
    left: 2050px;
    /* to the top */
    bottom: 720px;
  }
}

@keyframes rightCloud2 {
  0% {
    /* to the right */
    left: 900px;
    /* to the top */
    bottom: 900px;
  }
  100% {
    /* to the right */
    left: 1900px;
    /* to the top */
    bottom: 900px;
  }
}

@keyframes rightCloud3 {
  0% {
    /* to the right */
    left: 900px;
    /* to the top */
    bottom: 1100px;
  }
  100% {
    /* to the right */
    left: 1900px;
    /* to the top */
    bottom: 1100px;
  }
}

@keyframes leftCloud1 {
  0% {
    /* bottom */
    top: 720px;
    /* left, increase to go more left */
    right: 160px;
  }

  100% {
    /* bottom */
    top: -800px;
    /* left */
    right: -980px;
  }
}

@keyframes leftCloud2 {
  0% {
    /* bottom */
    top: 520px;
    /* left, increase to go more left */
    right: 160px;
  }

  100% {
    /* bottom */
    top: -1000px;
    /* left */
    right: -980px;
  }
}

@keyframes leftCloud3 {
  0% {
    /* bottom */
    top: 300px;
    /* left, increase to go more left */
    right: 160px;
  }

  100% {
    /* bottom */
    top: -1220px;
    /* left */
    right: -980px;
  }
}

/*** ELEMENTS ***/

/* h1 hover me element */
h1 {
  animation-name: hoverMe, opacity;
  animation-duration: 0.5s, 5s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

/* right clouds elements */
body > section:nth-of-type(2) div:nth-of-type(1) {
  animation-name: rightCloud1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body > section:nth-of-type(2) div:nth-of-type(2) {
  animation-name: rightCloud2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body > section:nth-of-type(2) div:nth-of-type(3) {
  animation-name: rightCloud3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* left clouds elements */
body > section:nth-of-type(2) div:nth-of-type(4) {
  animation-name: leftCloud1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body > section:nth-of-type(2) div:nth-of-type(5) {
  animation-name: leftCloud2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body > section:nth-of-type(2) div:nth-of-type(6) {
  animation-name: leftCloud3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body > section:nth-of-type(2) div:nth-of-type(1),
body > section:nth-of-type(2) div:nth-of-type(2),
body > section:nth-of-type(2) div:nth-of-type(3),
body > section:nth-of-type(2) div:nth-of-type(4),
body > section:nth-of-type(2) div:nth-of-type(5),
body > section:nth-of-type(2) div:nth-of-type(6) {
  animation-play-state: paused;
  /* animation-play-state: running; */
}
