/*** ANIMATIONS ***/

/* h1 hover me animation */
@keyframes hoverMe {
  0% {
    top: -10px;
  }
  100% {
    top: -45px;
  }
}

/* h1 hover for laptop screen */
@keyframes hoverMeLaptop {
  0% {
    top: -20px;
  }
  100% {
    top: -55px;
  }
}

/* h1 opacity animation */
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/* cloud animations */
@keyframes rightCloud1 {
  0% {
    /* to the right */
    left: 700px;
    /* to the top */
    bottom: 700px;
  }
  100% {
    /* to the right */
    left: 1950px;
    /* to the top */
    bottom: 700px;
  }
}

@keyframes rightCloud2 {
  0% {
    /* to the right */
    left: 900px;
    /* to the top */
    bottom: 900px;
  }
  100% {
    /* to the right */
    left: 1900px;
    /* to the top */
    bottom: 900px;
  }
}

@keyframes rightCloud3 {
  0% {
    /* to the right */
    left: 900px;
    /* to the top */
    bottom: 1100px;
  }
  100% {
    /* to the right */
    left: 1900px;
    /* to the top */
    bottom: 1100px;
  }
}

/*** ELEMENTS ***/

/* h1 hover me element */
h1 {
  animation-name: hoverMe, opacity;
  animation-duration: 0.5s, 5s;
  animation-iteration-count: infinite, 1;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
}

/* right clouds elements */
body > section:nth-of-type(2) div:nth-of-type(1) {
  animation-name: rightCloud1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body > section:nth-of-type(2) div:nth-of-type(2) {
  animation-name: rightCloud2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

body > section:nth-of-type(2) div:nth-of-type(3) {
  animation-name: rightCloud3;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
