/* clouds container */
/* off hover */
body > section:nth-of-type(2) {
  transition: 0.5s ease-in-out;
  position: absolute;
}

/* used this tutorial: https://www.youtube.com/watch?v=ATiTwBSG5CE */

/* clouds right side */
/* cloud 1*/
body > section:nth-of-type(2) div:nth-of-type(1) {
  position: absolute;
  background-color: var(--cloud);
  width: 100px;
  height: 40px;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}

body > section:nth-of-type(2) div:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50px;
  height: 50px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: -60%;
  right: 20%;
  width: 30px;
  height: 60px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(2) {
  scale: 0.9;
  position: absolute;
  background-color: var(--cloud);
  width: 100px;
  height: 40px;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}

body > section:nth-of-type(2) div:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50px;
  height: 50px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: -60%;
  right: 20%;
  width: 30px;
  height: 60px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(3) {
  scale: 0.8;
  position: absolute;
  background-color: var(--cloud);
  width: 100px;
  height: 40px;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}

body > section:nth-of-type(2) div:nth-of-type(3)::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50px;
  height: 50px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: -60%;
  right: 20%;
  width: 30px;
  height: 60px;
  background: var(--cloud);
  border-radius: 100px;
}

/* cloud left side */
/* cloud 4 */
body > section:nth-of-type(2) div:nth-of-type(4) {
  transform: skewY(-55deg);
  position: absolute;
  background-color: var(--cloud);
  width: 100px;
  height: 40px;
  border-radius: 30px;
  top: -700px;
  right: -920px;
  transition: 0.5s ease-in-out;
}

body > section:nth-of-type(2) div:nth-of-type(4)::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50px;
  height: 50px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(4)::after {
  content: "";
  position: absolute;
  top: -60%;
  right: 20%;
  width: 30px;
  height: 60px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(5) {
  scale: 0.9;
  transform: skewY(-55deg);
  position: absolute;
  background-color: var(--cloud);
  width: 100px;
  height: 40px;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}

body > section:nth-of-type(2) div:nth-of-type(5)::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50px;
  height: 50px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(5)::after {
  content: "";
  position: absolute;
  top: -60%;
  right: 20%;
  width: 30px;
  height: 60px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(6) {
  scale: 0.7;
  transform: skewY(-55deg);
  position: absolute;
  background-color: var(--cloud);
  width: 100px;
  height: 40px;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}

body > section:nth-of-type(2) div:nth-of-type(6)::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50px;
  height: 50px;
  background: var(--cloud);
  border-radius: 100px;
}

body > section:nth-of-type(2) div:nth-of-type(6)::after {
  content: "";
  position: absolute;
  top: -60%;
  right: 20%;
  width: 30px;
  height: 60px;
  background: var(--cloud);
  border-radius: 100px;
}

/* pause button */
body > section:nth-of-type(2) input {
  top: -232vh;
  left: 143vw;
  position: absolute;
  background-color: white;
  transform: skewY(-35deg);
  width: 75px;
  height: 75px;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    35% 100%,
    35% 0,
    65% 0,
    65% 100%,
    35% 100%,
    35% 100%,
    100% 100%,
    100% 0%
  );
  cursor: pointer;
  filter: none;
  transition: ease-in-out 0.2s;
}
