/* door container */

section:nth-of-type(6) input:nth-of-type(1) {
  background-color: var(--door-front);
  /* with translateZ:300 the door is on the edge in the corner */
  transform: translateY(-222px) translateX(442px) translateZ(370px) rotateY(90deg);
  border: 10px solid var(--door-edge);
  border-left: 8px solid var(--door-edge);
  border-right: 8px solid var(--door-edge);
  border-bottom-style: none;
  width: 80px;
  height: 160px;
  cursor: pointer;
}

section:nth-of-type(6) input:nth-of-type(1)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 12%;
  background-color: white;
  width: 15px;
  height: 8px;
  cursor: pointer;
}
