/*** NORMAL GLOBAL STYLING ***/

/* all sections */
section {
  transform: rotatex(45deg) rotateY(45deg);
  transform-style: preserve-3d;
}

/* all divs and sections */
div,
section {
  position: absolute;
  aspect-ratio: 1;
}

body {
  background-color: var(--dark-background);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  scale: 0.85;
}

main {
  position: absolute;
  left: 22vw;
  transition: ease-in-out 0.5s;
  filter: sepia() brightness(0.3) hue-rotate(190deg) saturate(3);
  transform: translateY(64vh);
}

/* clouds */
body > section:nth-of-type(2) {
  filter: sepia() brightness(0.3) hue-rotate(190deg) saturate(3);
}
