/*** HOVERS ***/

/* main hover and clouds */
main:hover ~ section:nth-of-type(2),
main:hover {
  transition: 0.5s ease-in-out;
  filter: none;
}

/* stars on main:hover disappear */
main:hover ~ section:nth-of-type(1) {
  display: hidden;
}

/* background changes on main:hover */
main:hover ~ div {
  background: radial-gradient(circle at 52% 62%, var(--color1light), var(--color2light));
  transition: 0.5s ease-in-out;
}

/* while hovering on window frame section: curtains */
section:nth-of-type(11):hover div:nth-of-type(4),
section:nth-of-type(11):hover div:nth-of-type(5),
section:nth-of-type(11):hover div:nth-of-type(6) {
  height: var(--curtain-size-closed);
  cursor: pointer;
}
