/*** HOVERS ***/

/* main hover and clouds */
main:hover ~ section:nth-of-type(2),
main:hover {
  transition: 0.5s ease-in-out;
  filter: none;
}

/* stars on main:hover disappear */
main:hover ~ section:nth-of-type(1) {
  display: hidden;
}

/* background changes on main:hover */
main:hover ~ div:nth-of-type(1)::after {
  opacity: 1;
}

/* wile clicking on door: door opens + door knob */
section:nth-of-type(6) input:checked {
  transform: translateY(-222px) translateX(481px) translateZ(331px) rotateY(0deg);
  background-color: var(--door-front-dark);
}

/* section:nth-of-type(6) input:checked + input:nth-of-type(1)::after {
} */

/* while clicking on window frame section: curtains */
section:nth-of-type(11) input:nth-of-type(1):checked,
section:nth-of-type(11) input:nth-of-type(2):checked,
section:nth-of-type(11) input:nth-of-type(3):checked {
  height: var(--curtain-size-closed);
}
