@media screen and (max-width: 1400px) {
  h1 {
    animation-name: hoverMeLaptop, opacity;
    animation-duration: 0.5s, 5s;
    animation-iteration-count: infinite, 1;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    scale: 0.7;
  }

  main {
    scale: 0.6;
    left: 26vw;
    top: 26vh;
  }

  /* clouds */
  /* body > section:nth-of-type(2) {
    scale: 0.8;
  } */
}

/* bigger screen */
@media screen and (min-width: 1401px) {
  body > section:nth-of-type(2) {
    scale: 1.6;
  }
  body > section:nth-of-type(2) input {
    top: -135vh !important;
    left: 89vw !important;
  }

  body > section:nth-of-type(2) input:checked {
    top: -135vh !important;
    left: 89vw !important;
  }
}
