/* path container: top */
section:nth-of-type(6) div:nth-of-type(1) {
  background-color: var(--path-top);
  transform: translateY(-380px) translateX(707px) translateZ(106px) rotateX(90deg);
  transform-origin: top center;
  width: 312px;
  height: 80px;
}

/* path container: right */
section:nth-of-type(6) div:nth-of-type(2) {
  background: var(--path-right);

  transform: translateX(750px) translateZ(455px) rotateY(90deg);
  transform-origin: left;
  width: 80px;
  height: 40px;
}
